/* Basic reset for box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom styles for the application */
body {
  font-family: Arial, sans-serif;
  background-color: #27B7AB;
  color: #333;
}

.app-container {
  padding: 20px;
}
.container{
  background-color: #27B7AB;
  font-weight: bold;
  padding-left: 10px;
  height: 100%;
  width:100%;
  padding-top: 20px;
}

.airport-container{
  background-color: darkslategrey;
}
.table-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
}

.table-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-row:hover {
  background-color: #e9e9e9;
}

.button {
  margin-right: 10px;
}

.checkbox {
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
